.Timer {
    text-align: center;
    background-color: #8BA0C6;
    padding: 0.5rem 0rem;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
}
  
.timer-text{
    text-align: center;
    font-size: 300px;
}
  
/* BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-banner{
    /* background-color: #729FED; */
    /* background-color: #708FC7; */
    background-color: #8BA0C6;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    border-radius: 20px;
}
  
.heading{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
  
li {
    list-style-type: none;
}
  
button {
    border-radius: 20px;
}
  
/* SLIDERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
.switchWrapper {
    position: relative;
}
  
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  
/* SCREEN ADJUSTMENT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 700px) {
    .top-banner form {
        flex-direction: column;
    }
    
    .top-banner form input,
    .top-banner form button {
        width: 100%;
    }
  
    .top-banner form button {
        margin: 20px 0 0 0;
    }
  
    .top-banner form .msg {
        position: static;
        max-width: none;
        min-height: 0;
        margin-top: 10px;
    }
  
    .container{
        flex-direction: column;
        align-items: center;
    }
  
    .timer-text{
        text-align: center;
        font-size: 30px;
    }
}  
  
/* FLEX BOXES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    display: flex;
}
.container div {
    padding: .5em;
    flex: 1;
}

.controls-flex-box {
    display: flex;
    flex-direction: column;
}
.control-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.bells-flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.circle {
    display: flex;
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 50%;
}