body {
    background-color: #8BA0C6;
  }
  
  .App {
    text-align: center;
    /* font-size: 30px; */
  }
  
  .timer-text{
    text-align: center;
    font-size: 300px;
  }
  
  /* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  /* BASIC STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .top-banner{
    /* background-color: #729FED; */
    /* background-color: #708FC7; */
    background-color: #8BA0C6;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    border-radius: 20px;
  }
  
  .heading{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }
  
  /* form input {
  font-size: 1rem;
  height: 30px;
  padding: 5px 10px 10px;
  border-bottom: 1px solid;
  border-radius: 20px;
  } */
  
  /* form input::placeholder {
  color: #9CAAC2;
  } */
  
  li {
    list-style-type: none;
  }
  
  button {
    border-radius: 20px;
  }
  
  /* SLIDERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .switchWrapper {
  position: relative;
  }
  
  .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  }
  
  /* .switch:before {
    content: '2 MIN';
    position: absolute;
    left: -60px;
    font-size: 18px;
  }
  
  .switch:after {
    content: '3 MIN';
    position: absolute;
    right: -60px;
    font-size: 18px;
  } */
  
  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  }
  
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
  .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
  input:checked + .slider {
  background-color: #2196F3;
  }
  
  input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
  border-radius: 34px;
  }
  
  .slider.round:before {
  border-radius: 50%;
  }
  
  /* SCREEN ADJUSTMENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 700px) {
  .top-banner form {
    flex-direction: column;
  }
  
  .top-banner form input,
  .top-banner form button {
    width: 100%;
  }
  
  .top-banner form button {
    margin: 20px 0 0 0;
  }
  
  .top-banner form .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px;
  }
  
  .container
  {
    flex-direction: column;
    align-items: center;
  }
  
  .timer-text{
    text-align: center;
    font-size: 30px;
  }
  
  }
  /* .ajax-section {
  margin: 40px 0 20px;
  } */
  
  
  /* FLEX BOXES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .container {
  display: flex;
  }
  .controls-flex-box {
  display: flex;
  flex-direction: column;
  }
  .control-flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .slider-flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  }
  
  .bells-flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .red {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  }
  .yellow {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  }
  .green {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  }
  
  .container div {
  padding: .5em;
  flex: 1;
  }
  
  .circle {
    display: flex;
    width: 250px;
    height: 250px;
    /* background-color: green; */
    background-color: #FFFFFF;
    border-radius: 50%;
  }